* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main {
    background-color: #fff;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
